---
layout: default
page_id: call-for-speakers
title: "Call for Speakers"
subtitle: "Our call for speakers closed on January 15, 2017. Thank you to everyone who put in the time and effort to submit their ideas! We will be in touch soon with the outcome of your submissions."
permalink: /call-for-speakers/
---

<header class="header bg--blue-dark visuals visuals--01">
  <div class="container">
    <div class="visuals__canvas">
      {% include helpers/svg id="tri-triangles-a" %}
      {% include helpers/svg id="blue-bolt" %}
      {% include helpers/svg id="circle" %}
    </div>
    <div class="visuals__overlay">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <div class="box">
            <h2 class="h1 color--white">{{page.title}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <section>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>CSSconf EU is targeted at CSS professionals, CSS creatives, CSS aficionados. It doesn’t matter whether you are a professional front end developer, a creative wizard who practices CSS magic in their spare time, or you just love CSS and want to share your knowledge. We’re interested in topics that make us go, “Oh, wow! Yes! Cool! I want to hear about that!”</p>
        </div>
      </div>
    </section>
    <section id="topic-suggestions">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">Topic suggestions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>To get your ideas flowing, here are some areas we’re particularly interested in:</p>
          <ul>
            <li>Cutting-edge technological advances in the world of CSS</li>
            <li>Incredible ideas &amp; mind-blowing experiments</li>
            <li>Scale &amp; Performance</li>
            <li>Architecture &amp; Maintainability</li>
            <li>Tools that improve CSS developers’ lives</li>
            <li>Tools &amp; Workflows</li>
            <li>Drawing and Animating with CSS</li>
            <li>Pre-processors</li>
            <li>CSS for Games</li>
            <li>CSS for Mobile and various devices</li>
            <li>The history and future of CSS</li>
          </ul>

          <p>For further inspiration, check out the video recordings of CSSconf EU 2015’s talks <a href="https://www.youtube.com/playlist?list=PL37ZVnwpeshHoV6GgvG9WWAP6rjnEdAs9">on Youtube</a></p>

          <p>And remember: Pick whatever you feel passionate about. This is your conference!</p>
          <p>
          PS: If you can’t find a suitable topic for CSSconf EU, or you want to try your luck at more than one event, then consider submitting a talk to our partner conference <a href="http://2017.jsconf.eu/call-for-speakers/">JSConf EU</a> – it’s happening in the same venue on the same weekend, and you’re welcome to submit multiple talks.
          </p>
        </div>
      </div>
    </section>
    <section id="we-can-help">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">We can help</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>Not everyone is a natural-born talent on stage. Not everyone can produce kick-ass slide decks. Not everyone is a live-demo master. Not everyone knows they have something great to talk about.</p>
          <p>There are about a million reasons why you may not consider yourself a speaker.<br/>
          We are here to prove you wrong. If all you have is a gut feeling that you should be on stage, we are here to help you develop or hone the skills you think you lack to deliver a great presentation.</p>
          <ul>
            <li>We’d be happy to brainstorm your interests and seek great hidden ideas.</li>
            <li>We’d be happy to connect you with experienced speakers to help you prepare your submission.</li>
            <li>We’d be happy to review and advise on how to produce a great slide deck. If you aren’t feeling creative, you could just use the base template of e.g. <a href="http://lab.hakim.se/reveal-js/#/">reveal.js</a> or <a href="http://imakewebthings.com/deck.js/">deck.js</a>.</li>
            <li>We’d be happy to rehearse via video chat with you.</li>
            <li>We can hook you up with local groups so you can practice in front of a friendly crowd.</li>
          </ul>
          <p>Again, whatever else you might need, we’re here to help. Get in touch: <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a> (please don’t use this email to submit a proposal).</p>
          <p>If you need more encouragement, see our blog post on <a href="http://blog.cssconf.eu/2014/06/12/how-to-write-a-great-talk-proposal-for-a-tech/">How to write a great talk proposal for a tech conference</a>.</p>
        </div>
      </div>
    </section>
    <section id="perks">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">Perks</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>If your proposal is selected, here’s what you’ll get:</p>
          <p><strong>Travel to Berlin</strong>- this usually means that we’ll pay for your plane or train ticket, and also cover all transport costs within the city. We are happy to assist with booking your itinerary, but if you can do it yourself we can focus on making the conference even better.</p>
          <p><strong>Entry to the conference</strong>- please note that we may not be done with the speaker selections by the time tickets go on sale, so if you want to make sure you can attend, let us know in the form below and we’ll hold a ticket for you in case your talk is not selected.</p>
          <p><strong>Accommodation in a hotel</strong>- in close proximity to the venue and/or with a shuttle transfer arranged. For a day before and two days after the conference.<br/>
          If you’d like to stay longer, we can help you arrange things, just let us know. You will have to cover any extra nights, though.</p>
          <p>If your employer can cover your travel and hotel, we’ll be happy to list them as a company sponsor. The money we save will be invested into the general running of the conference and scholarships for attendees from underrepresented groups.</p>
          <p>You’re welcome to bring your family. If you need childcare, please get in touch. We want to make sure your stay is as enjoyable as possible.</p>
          <p>The venue and the hotel will be accessible for wheelchair users and people with reduced mobility. If you have any concerns or questions about whether all your needs can be met, please <a href="mailto:contact@cssconf.eu">contact us</a>.</p>
        </div>
      </div>
    </section>
    <section id="selection-process">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">Selection process</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>Here’s how we select our speakers:</p>
          <ol>
            <li>All submissions are anonymized, so that there is no bias towards the submitter.</li>
            <li>All submissions are reviewed and voted for by the conference organizers. Each talk is rated on a scale from 1 to 5, taking into account the following criteria:
              <ul>
                <li>relevance of the topic to the CSS community</li>
                <li>coherence and clarity of the proposal</li>
                <li>novelty/originality of the topic</li>
                <li>can the topic be reasonably covered in the allocated time</li>
              </ul>
            </li>
            <li>The top submissions are then de-anonymized so we can bias against speaker details. We wrote about this and more considerations that go into our curation and selection process <a href="http://blog.cssconf.eu/2015/08/15/a-talk-selection-process-explained/">here</a>.</li>
          </ol>
          <p>We expect a lot more excellent submissions than we have speaking slots. This process helps us select the best proposals, and hack our own unavoidable biases.</p>
        </div>
      </div>
    </section>
    <section id="guidelines">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">Guidelines</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <ul>
            <li><strong>Language:</strong> all talks are in English.</li>
            <li><strong>Talk Duration:</strong> talks should be 30 minutes long (for longer talks we’ll get in touch with you directly). We will be on a tight schedule and will enforce the time limits rigorously. We suggest that you time your presentation accordingly in advance.</li>
            <li><strong>Formatting:</strong> make sure you care, and make sure we see you care. Typos, sloppy formatting and all-lowercase submissions make our reading of your proposal tedious and will reflect negatively on the outcome of your submission.</li>
            <li><strong>Brevity:</strong> don’t get too wordy. If you need more than two paragraphs to get to the point of your proposal, we ask you to slim things down. With the amount of submissions we get, the quicker you can make a good first impression, the better.</li>
            <li><strong>Originality:</strong> one of the things we want to do at CSSconf EU is to push the community forward. We can’t do this if the same people talk about the same things all the time. Thus, we favor original content. If you want to present a topic that you have talked about elsewhere, try to add a twist, new research or development to it — something to make it unique.</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="video-recordings">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">Video recordings</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>We plan to record and publish all talks online for free, along with a recording of the slide deck, live demo, and any on-presenter-screen activity. We do this for the benefit of the larger CSS community and those who couldn’t make it to the conference. We hope you agree with us, but if you are uncomfortable with this in any way, let us know and we will work things out. Note that we disabled comments on our published videos by default.</p>
          <p>Finally, since you retain full ownership of your slides and recording, we’d like to ask you to make your materials and recording available under a Creative Commons (we default to non-commercial reuse) or other open source license.</p>
        </div>
      </div>
    </section>
    <section id="code-of-conduct">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">Code of Conduct</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>Our <a href="/code-of-conduct">Code of Conduct</a> aims to create a safe and welcoming space for our community members, and to protect every attendee, staff member and speaker from harassment. We thus need you to read, understand, and comply with our <a href="/code-of-conduct">Code of Conduct</a>.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>If you have any questions, suggestions or concerns about any of the above, please feel free to <a href="mailto:contact@cssconf.eu">contact us</a>. We look forward to receiving your proposal!</p>
        </div>
      </div>
    </section>
    {% if site.ticket_sale_url %}
      <section>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 tac">
            <a class="link--button link--animated"
               href="{{ site.ticket_sale_url }}">
              Buy tickets
              <span class="link__icon link__icon--rocket">🚀</span>
            </a>
          </div>
        </div>
      </section>
    {% endif %}
  </div>
</main>
