---
layout: default
---

<header class="header visuals visuals--02 bg--off-white">
  <div class="container">

    <div class="visuals__canvas">
      {% include helpers/svg id="start-blue-finger" viewBox="0 0 188 199" %}
      {% include helpers/svg id="start-red-thumb" viewBox="0 0 76 74" %}
      {% include helpers/svg id="start-arc-2" viewBox="0 0 374 362" %}
      {% include helpers/svg id="start-circle" viewBox="0 0 47 47" %}
      {% include helpers/svg id="start-blue-arc" viewBox="0 0 132 132" %}
      {% include helpers/svg id="start-green-gradient" viewBox="0 0 62 151" %}
      {% include helpers/svg id="start-tiny-triangle" viewBox="0 0 45 47" %}
      {% include helpers/svg id="start-arc-1" viewBox="0 0 181 181" %}
      {% include helpers/svg id="start-donut" viewbox="0 0 101 101" %}
      {% include helpers/svg id="start-triangle-group" viewBox="0 0 182 89" %}
    </div>
    <div class="visuals__overlay tc py4 px3">
      <div class="pt3">
        {% include helpers/svg id="cssconfeu-logo-2017" title="CSSconf EU" viewBox="0 0 480 240" %}
      </div>
      <p class="intro tc mb0 pt1">
        Friday, May 5 2017
        <br>
        Berlin, Germany
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p class="tc mt3 mb2">
          Dedicated to everyone who loves and writes CSS: CSSconf EU is a one-day, one-track community conference that unites world-class speakers, top-notch engineers &amp; web designers, and many more with an affinity for CSS in Berlin, Germany. <a href="/info">Read&nbsp;more</a>
        </p>
        <p class="tc">
          <a class="link--button link--animated link--top-bar"
             href="{{ site.ticket_sale_url }}">
            Buy tickets
            <span class="link__icon link__icon--rocket">🚀</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</header>

<main>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1">
          <h1 class="color--blue">Speakers</h1>
        </div>

        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p class="intro">CSSconf EU is a not-for-profit conference dedicated to the
            creatives and engineers who build the most performant, accessible and
            beautyful apps and web experiences.</p>
        </div>
      </div>
    </div>
  </section>

  {% include speakers-list.html %}
</main>
