---
layout: default
---

<div class="sticky-footer-container__content">
  <header class="header visuals visuals--02 bg--off-white">
    <div class="container">
      <div class="visuals__canvas">
        {% include helpers/svg id="start-blue-finger" %}
        {% include helpers/svg id="start-red-thumb" %}
        {% include helpers/svg id="start-arc-2" %}
        {% include helpers/svg id="start-circle" %}
        {% include helpers/svg id="start-blue-arc" %}
        {% include helpers/svg id="start-green-gradient" %}
        {% include helpers/svg id="start-tiny-triangle" %}
        {% include helpers/svg id="start-arc-1" %}
        {% include helpers/svg id="start-donut" %}
        {% include helpers/svg id="start-triangle-group" %}
      </div>
      <div class="visuals__overlay tc py4 px3">
        <div class="pt3">
          {% include helpers/svg id="cssconfeu-logo-2017" title="CSSconf EU" viewbox="0 0 480 240" %}
        </div>
        <p class="intro tc mb0 pt1">
          Friday, May 5 2017
          <br>
          Berlin, Germany
        </p>
      </div>
    </div>
    <div class="container">
      <p class="tc mt3 mb0">
        Ticket Sales, Call for Speakers and Scholarship Applications will open in late 2016.
        <br>
        You can <a href="mailto:contact@cssconf.eu">contact us about sponsorship opportunities now</a>.
      </p>
      <!-- <p>
        <a href="https://twitter.com/cssconfeu" class="link--button">Follow us on Twitter</a>
      </p> -->
    </div>
  </header>
  <section>
    <div class="container">
      <div class="c-globe">
        <div class="c-globe__element-wrapper">
          {% include helpers/svg id="globe" %}
          <div class="c-globe__orb-1"></div>
          <div class="c-globe__orb-2"></div>
          <div class="c-globe__orb-3"></div>
        </div>
      </div>
      <p class="mini mt2 tc">
        Part of the international <a href="http://cssconf.org/">CSSconf family</a>
      </p>
    </div>
  </section>
</div>
