---
layout: default
page_id: info
title: "Information"
subtitle: "Dedicated to everyone who loves and writes CSS: On May 5 2017, CSSconf EU will gather the international CSS community in Berlin, Germany. This is your chance to meet top-notch engineers & web designers, world-class speakers, and CSS-loving people at this one-day, one-track conference."
permalink: /info/
---

<header class="header bg--blue-dark visuals visuals--01">
  <div class="container">
    <div class="visuals__canvas">
      {% include helpers/svg id="tri-triangles-a" %}
      {% include helpers/svg id="blue-bolt" %}
      {% include helpers/svg id="circle" %}
    </div>
    <div class="visuals__overlay">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <div class="box">
            <h2 class="h1 color--white">{{page.title}}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-2">
          {% if page.subtitle %}<p class='intro color--white'>{{page.subtitle}}</p>{% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <section id="mission-and-values">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">Mission & Values</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>
            CSSconf EU is a not-for-profit community conference run by a team of <a href="/team/">volunteers</a>. We are all active members of the tech community, and run or contribute to various free local meetups, workshops, and education initiatives. With CSSconf EU, we aim to bring the international CSS crowd together with our beloved local Berlin community. We are humbled to look back to three sold-out events where we welcomed the world’s most excellent CSS speakers on our stage, and we are proud to have always put an inclusive and welcoming culture first. We operate under a <a href="/code-of-conduct/">Code of Conduct</a>, run a <a href="/scholarships/">scholarship program</a>, write <a href="http://blog.cssconf.eu/">articles to be transparent</a>, and are committed to <a href="/diversity-support-tickets/">diversity</a> and <a href="/accessibility/">accessibility</a>.
          </p>
          <h2 class="color--blue">Watch last year’s film</h2>

          <div class="mb3">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/yO-ypk8HOfg?list=PL37ZVnwpeshHoV6GgvG9WWAP6rjnEdAs9" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    <section id="date-and-venue" class="bg--off-white">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">
            Date &amp; Venue
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>
            CSSconf EU will 2017 take place on <strong>May 5, 2017</strong> in Berlin’s <a href="https://www.google.com/maps?f=q&source=s_q&hl=en&geocode&q=Eichenstra%C3%9Fe+4+Berlin+12435+Deutschland">Arena Halle</a>, offering a day packed with inspiring and insightful talks and time well spent in the company of great people. This year we’re planning the most adventurous and ambitious CSSconf EU ever – be prepared for <span class="color--green">CSSconf EU, the Festival Edition</span>, featuring a newer, bigger, more exciting venue that we’ll pack with some surprises.
          </p>

          <h2 class="color--blue">
            Speakers, Topics, Language
          </h2>

          <p>The CSSconf EU lineup unites top international speakers and newcomers with fresh ideas. They will discuss cutting-edge technologies and questions around front-end development and web design – with a specific focus on CSS.</p>

          <p>All speakers are <a href="http://blog.cssconf.eu/2015/08/15/a-talk-selection-process-explained/">selected</a> via an open <a href="http://2017.cssconf.eu/call-for-speakers/">Call for Speakers</a>. The voting on all proposals will take place in January 2017, and we’ll announce the lineup shortly thereafter. This process has brought together fantastic speakers in the past years – <a href="https://www.youtube.com/playlist?list=PL37ZVnwpeshHoV6GgvG9WWAP6rjnEdAs9">take a look at the video recordings</a>!</p>

          <p>Talks are always in English, and video recordings will be released for free after the event.</p>

          <h2 class="color--blue">Catering</h2>
          <p>
            Our chefs and coffee specialists will make sure you don’t go hungry or run the risk of low caffeination throughout the day. You can expect quality coffee, a full breakfast, healthy lunch with various options, and hearty dinner. All meals include vegetarian, vegan, gluten-free options.
          </p>

          <h2 class="color--blue">
            Tickets
          </h2>

          <p>
            Until sold out, you can <a href="https://tito.io/cssconfeu/cssconfeu-2017">buy tickets here</a>.
          </p>
        </div>
      </div>
    </section>

    <aside class="box--venue box--shadow">
      <div class="venue">
        <img src="/assets/images/venue.jpg" alt="Arena Berlin">
        <div class="venue__details color--white box--padded bg--green">
          <h2 class="venue__title">Arena Berlin</h2>
          Eichenstraße 4, Berlin<br>
          12435 Germany
        </div>
        <div class="venue__shape venue__shape--circle">
          {% include helpers/svg id='circle-red' %}
        </div>
        <div class="venue__shape venue__shape--ring">
          {% include helpers/svg id='circle-plum' %}
        </div>
        <div class="venue__shape venue__shape--triangle">
          {% include helpers/svg id='triangle-yellow' %}
        </div>
        <div class="venue__shape venue__shape--half-pill">
          {% include helpers/svg id='half-pill-rose' %}
        </div>
      </div>
    </aside>

    <section id="travel-and-transport">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">
            Travel &amp; Transport
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="color--blue">Berlin’s Airports</h2>
          <p>Berlin has two airports, both of which are located close to the city center, a 30-minute taxi ride from the venue (ca. EUR 30). There are also trains and buses that connect the airports to Berlin’s city center.</p>
          <ul class="list-simple">
            <li><a href="http://www.berlin-airport.de/en/travellers-txl/to-and-from/buses-and-trains/index.php" target="_blank">Berlin-Tegel<small> (TXL)</small></a></li>
            <li><a href="http://www.berlin-airport.de/en/travellers-sxf/to-and-from/buses-and-trains/index.php" target="_blank">Berlin-Schönefeld<small> (SXF)</small></a></li>
          </ul>
          <h2 class="color--blue">Public Transport</h2>
          <p>
            Berlin has many public transport options. The subway, trains, buses, trams are all operated by <a href="http://www.bvg.de/en" target="_blank">BVG</a>. We recommend getting one of the <a href="https://shop.bvg.de/index.php/group/73" target="_blank">tourist tickets</a> for the length of your stay – this will allow you to use all subway trains, trams and buses in all of Berlin, plus it comes with discounts for popular sights, museums, and other attractions.
          </p>

          <h2 class="color--blue">Bike</h2>

          <p>
            Berlin’s flat geography, its many <a href="https://en.wikipedia.org/wiki/Cycling_in_Berlin" target="_blank">bike lanes</a> and the <a href="http://www.yr.no/place/Germany/Berlin/Berlin/statistics.html" target="_blank">friendly weather in early May</a> make it perfect to get around by bike! Check with your hotel or hostel if they have bikes to rent out, or find your perfect bike at one of the many <a href="https://www.yelp.com/search?find_desc=bike+rental&find_loc=Berlin&start=0&cflt=bikerentals" target="_blank">bike rental places</a>.
          </p>

          <h2 class="color--blue">Taxi</h2>

          <p>Taxis in Berlin are affordable and everywhere. You can usually hail one on the street, or use apps like <a href="https://de.mytaxi.com/en/index.html" target="_blank">MyTaxi</a> to order one.</p>
        </div>
      </div>
    </section>

    <section id="accommodation" class="bg--off-white">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">
            Accommodation
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>Below are a two hotels we recommend, both a short walk away from our venue. If neither of those fit your needs, check out <a href="http://www.hrs.com/" target="_blank">HRS</a> or private accommodation options like <a href="https://www.airbnb.com/locations/berlin" target="_blank">AirBnB</a> or <a href="https://www.couchsurfing.org/" target="_blank">Couchsurfing</a>.</p>
          <ul class="list-simple">
            <li><a href="https://www.nhow-berlin.com/en/" target="_blank">Hotel NHow <span>(20 min walk)</span></a></li>
            <li><a href="http://michelbergerhotel.com/en/" target="_blank">Michelberger Hotel <span>(20 min walk)</span></a></li>
          </ul>
          <p>
            If you’d like to team up with other attendees to travel to or stay in Berlin, let us and the community know on Twitter: <span class="color--green">#cssconfeu</span> – we will help spread the word!
          </p>
        </div>
      </div>
    </section>

    <section id="social-events">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">
            Fringe Programme
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="color--blue">
            Festival Area
          </h2>
          <p>
            More details soon!
          </p>
          <h2 class="color--blue">
            Social Events
          </h2>
          <p>
            <span class="color--green">Thursday Warm Up</span>: As it has become our tradition in the past years, we will have a small warmup event on the evening before the conference. Around 7pm on Thursday, we will gather to get some drinks at <a href="https://goo.gl/maps/kqziT6p84aA2">Volksbar Berlin</a> (Rosa-Luxemburg-Straße 39, 10178 Berlin).
          </p>
          <p>
            <span class="color--green">CSSconf EU Dinner</span>: Around 7pm on Friday, after the talks have ended and the big family photo has been taken, we’ll come together for food, drinks and, most importantly, to talk and discuss the events of the day with fellow CSSconf EU attendees. We’ll serve a streetfood-style dinner and snacks, including tasty vegan and vegetarian options, to keep you sated.
          </p>

          <p>
            <span class="color--green">CSSconf Closing Party</span>: What would a great day be if it didn’t end in celebration! The party will take place at Glashaus, a river-facing building adjacent to the conference venue, so there’ll be no long walks from dinner to drinks to party. Friends, family and the community are also welcome to join us, provided they present a party ticket at the door.
          <p>

          <h4>All parties and gatherings at a glance</h4>
          <ul class="list-simple">
            <li>
            Thursday, May 4: CSSconf EU Warm-Up, 7pm, Volksbar
            </li>
            <li>
            Friday, May 5: CSSconf EU Closing / JSconf EU Opening Party, 8pm, Glashaus
            </li>
            <li>
            Saturday, May 6: JSConf EU Main Party, 8pm, Arena Club
            </li>
            <li>
            Sunday, May 7: JSConf EU Closing Party, 8pm, Hoppetosse
            </li>
            <li>
            Monday, May 8: relax.js Brunch, 10am, Venue tba
            </li>
          </ul>
          <p>
            For attendees of CSSconf EU and JSConf EU, access to the above is included in the conference ticket. Please make sure to wear your badge in order to enter the evening events. If you’re not attending the events, but would like to come along to the above gatherings, you will be able to purchase Party tickets in the days prior the events.
          </p>
          <!-- <ul>
            <li>
            for the CSSconf EU party <a href="https://ti.to/cssconfeu/cssconf-eu-2017" target="_blank">here</a>
            </li>
            <li>
            for the JSconf EU party <a href="https://ti.to/jsconfeu/jsconf-eu-2017" target="_blank">here</a>
            </li>
          </ul> -->
        </div>
      </div>
    </section>
    <section id="stay-tuned" class="bg--off-white">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1">
          <h2 class="h1 color--blue">
            Stay Tuned
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p>We post all updates around CSSconf EU on <a href="https://twitter.com/cssconfeu">Twitter</a>. Use the hashtag <span class="color--green">#cssconfeu</span> to tweet about the conference, connect with other attendees, and share your photos of the day when the time comes! You can also find us on <a href="http://lanyrd.com/2017/cssconfeu/" target="_blank">Lanyrd</a> and see who else is attending.</p>

          <p>Any questions we didn’t address? <a href="/team/">Reach out to us, the team is here to help!</a></p>
        </div>
      </div>
    </section>
  </div>
</main>

<!--
<h2 class="color--blue">Berlin</h2>
<p>Explore Germany’s Capital: Don’t miss out on the many great things that Berlin has to offer besides a tech community. Whether you want to go sightseeing, dive into the 24 hour nightlife, or check out great restaurants and the growing 3rd wave coffee scene – we have you covered. Read our blog post where we collected <a href="http://2014.cssconf.eu/news/things-to-do-places-to-visit-in-berlin" target="_blank">our favorite spots and activities in Berlin</a>, and follow this handy <a href="https://de.foursquare.com/ffffux/list/cssconfeus-favourites" target="_blank">Foursquare list</a> to never get lost when searching for a recommended bar or food spot on the go.</p> -->
