---
layout: default
page_id: speakers-guide
title: "Speakers Guide"
subtitle: ""
permalink: /speakers-guide/
---

<header class="header bg--blue-dark visuals visuals--01">
  <div class="container">
    <div class="visuals__canvas">
      {% include helpers/svg id="tri-triangles-a" %}
      {% include helpers/svg id="blue-bolt" %}
      {% include helpers/svg id="circle" %}
    </div>
    <div class="visuals__overlay">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-9 col-md-offset-1">
          <div class="box">
            <h2 class="h1 color--white">Speakers &amp; MCs Guide</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-2">
          <nav>
            <a href="#welcome" class="link--nav link--arrow link--arrow-white">Welcome</a>
            <a href="#team" class="link--nav link--arrow link--arrow-white">The Team</a>
            <a href="#hotel" class="link--nav link--arrow link--arrow-white">Your Hotel</a>
            <a href="#venue" class="link--nav link--arrow link--arrow-white">The Venue</a>
            <a href="#reimbursements" class="link--nav link--arrow link--arrow-white">Reimbursements</a>
            <a href="#schedule" class="link--nav link--arrow link--arrow-white">Technical Information and Schedule</a>
            <a href="#parties" class="link--nav link--arrow link--arrow-white">Parties and Social Events</a>
            <a href="#coc" class="link--nav link--arrow link--arrow-white">Code of Conduct</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <section id="welcome">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <p class="intro color--blue">
            Dear CSSconf EU Speakers and MCs,
          </p>
          <p>
            Thanks again for being part of CSSconf EU 2017, we're really looking forward to meeting you in Berlin soon! We created this page to answer any questions you may have, and generally to help make your travels and your stay here as smooth as possible. Please let us know if there's anything that hasn't been addressed here and feel free to contact us any time should you need our help.<br><br>
            In the coming weeks we'll continue to add more details on this page regarding social events around the conference and more. For now, this page should answer all essential questions with regards to your accommodation, the conference venue, and technical details.
          </p>
        </div>
      </div>
    </section>

    <section id="team">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="color--blue">
            The Team: Here to Help!
          </h2>
          <p>Should you have any questions or requests, feel free to speak to us any time!</p>
          {% include organizers.html %}
        </div>
      </div>
    </section>

    <section id="hotel">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="color--blue">
            Your Hotel
          </h2>
          <p class="h4"><a href="http://www.cataloniaberlinmitte.com/" target="_blank">Catalonia Berlin Mitte</a> | Köpenicker Str. 80-82 | 10179 Berlin</p>
          <p>
            We have booked a room for you from Thursday to Monday (unless you confirmed other dates with us or have private accommodation).
          </p>
        </div>
      </div>
    </section>

    <section id="venue">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="color--blue">
            The Venue
          </h2>
          <p>
            This year CSSconf EU has moved to a new venue: <a href="http://www.arena.berlin/veranstaltungsort/arena-halle/" target="_blank">Arena Berlin</a>, a huge industrial hall with adjoining club and event spaces. The whole event, including meals and parties, will take place in here, so there won't be any long distances interrupting your conference day.
          </p>
        </div>
      </div>
    </section>

    <aside class="box--venue box--shadow">
      <div class="venue">
        <img src="/assets/images/venue.jpg" alt="Arena Berlin">
        <div class="venue__details color--white box--padded bg--green">
          <h2 class="venue__title">Arena Berlin</h2>
          Eichenstraße 4, Berlin<br>
          12435 Germany
        </div>
        <div class="venue__shape venue__shape--circle">
          {% include helpers/svg id='circle-red' %}
        </div>
        <div class="venue__shape venue__shape--ring">
          {% include helpers/svg id='circle-plum' %}
        </div>
        <div class="venue__shape venue__shape--triangle">
          {% include helpers/svg id='triangle-yellow' %}
        </div>
        <div class="venue__shape venue__shape--half-pill">
          {% include helpers/svg id='half-pill-rose' %}
        </div>
      </div>
    </aside>

    <section id="reimbursements">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="color--blue">
            Bookings &amp; Reimbursements
          </h2>
          <p>
           We will reimburse your travel expenses (or even book your travel if you'd like). If your company has offered to pay: Awesome, thanks! We’d be happy to list them as a supporter on our website, so just let us know if that's the case.
          </p>
          <p>
            To get reimbursed for your expenses, we ask that you email the following to <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a> and also to <a href="mailto:travel@jsconf.eu">travel@jsconf.eu</a>:
          </p>
          <ol class="list-simple">
            <li>
              <p>
                An <b>invoice</b> of your travel expenses. The invoice recipient should be:<br><br>
                SinnerSchrader Deutschland GmbH<br>
                Holger Blank<br>
                Völckersstr. 38<br>
                22765 Hamburg
              </p>
              <p>
                The invoice should also include:
              </p>
              <ul>
                <li>
                  Your name and address
                </li>
                <li>
                  Your bank’s international routing information, which is usually something like Swift/BIC, IBAN
                </li>
                <li>
                  Additional information such as the address of the bank is helpful too, to make sure the international wire goes through without issues. Feel free to use these <a href="https://drive.google.com/drive/folders/0B-OH9BFYBOW3X2xLSWdfck1qWXc" target="_blank">invoice templates</a>.
                </li>
              </ul>
            </li>
            <li>
              Please add the <b>receipts</b> for your flight(s), taxi, bus or other public transport rides to your invoice.
            </li>
            <li>
              Please <b>send the invoice and all receipts via email</b> to <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a> and <a href="mailto:travel@jsconf.eu">travel@jsconf.eu</a>. We will then forward them to our accountants and get the wire initiated.
            </li>
          </ol>
        </div>
      </div>
    </section>

    <section id="schedule">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="color--blue">
            Technical Information and Schedule
          </h2>
          <ul class="list-simple">
            <li>
              The day will start at 8:30am with breakfast and registration; talks will begin at 9:30am. You should arrive before 9:30am, so that we can set up your notebook for a test run and make sure everything works well. The full schedule will be announced soon.
            </li>
            <li>
              As a speaker or MC, you won’t have to queue at the venue for check-in, you can come to the registration desk directly. You will then get your speaker bag and your conference pass.
            </li>
            <li>
              Projector resolution is 1080p, 16:9.
            </li>
            <li>
              You can connect to the projector with VGA, HDMI or DVI. Adapters will be provided.
            </li>
            <li>
              You can connect your notebook to the stage audio. A cable will be provided.
            </li>
            <li>
              There will be power supplies.
            </li>
            <li>
              Please be prepared to provide the technicians with your presentation, e.g. via USB stick.
            </li>
            <li>
              You’ll be given a headset, so you’ll have your hands free during your talk.
            </li>
            <li>
              A presentation clicker can be provided.
            </li>
            <li>
              WiFi as well as ethernet access will be available. It should be reliable, but you’re always better off having a fallback option in case the connection doesn’t work.
            </li>
            <li>
              Each talk slot is 30 minutes, no Q&amp;A. We believe it’s much better to discuss things in smaller groups afterwards and you’ll have enough time and space to do that.
            </li>
            <li>
              All talks will be professionally recorded and released after the conference. They will be publicly accessible for free, so that everyone can learn from the awesome presentations you delivered. If you wish not to have your talk recorded and published, or have any issues regarding copyright (incl. embedded images or similar), please let us know in advance.
            </li>
            <li>
              If you plan to show any code, remember to increase the font size. A lot ;-)
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="parties">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="color--blue">
            Parties and Social Events
          </h2>
          <h3>Thursday, May 4: CSSconf EU Warm-Up, 6:30pm, Volksbar</h3>
          <p>
            On Thursday evening you are invited to join us for our pre-conf get together starting at 6:30pm at Volksbar. The event will open to attendees at 7pm, and it’s a great opportunity to meet the team, each other, and fellow attendees prior to the conference.
          </p>
          <h3>Friday, May 5: CSSconf EU Closing / JSconf EU Opening Party, 8pm, Glashaus</h3>
          <p>
            What would a great day be if it didn’t end in celebration! Our party will take place at Glashaus, a river-facing building adjacent to the conference venue, so there’ll be no long walks from dinner to drinks to party. It you’d like to bring a guest or friends to the party, please let us know their names in advance.
          </p>
          <h3>Saturday, May 6: JSConf EU Main Party, 9pm, Glashaus</h3>
          <p>
            We invite you to celebrate with us and the community at the shared JSConf + CSSconf party. The JSConf EU team has promised a surprise program of live music acts and DJs, and has passed on the following warning: There will be dancing!
          </p>
          <h3>Sunday, May 7: JSConf EU Closing Party, 8pm, Hoppetosse</h3>
          <p>
            We’ll close the long conference weekend final party on the old boat "Hoppetosse", which is anchored right next to our venue.
          </p>
          <h3>Monday, May 8: relax.js Brunch, ~10am</h3>
          <p>
            Coming soon…
          </p>
        </div>
      </div>
    </section>

    <!--<section>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="color--blue">
            wwwtf.berlin
          </h2>
          <p>
            CSSconf EU is one of the core events of wwwtf.berlin, an entire week full of community-driven conferences, hackathons, workshops, and social events. Here are our favourites and recommendations:
          </p>
          <dl>
            <dt>Sunday, Sept 20</dt>
            <dd><a href="http://cssclasses.cssconf.eu/" target="_blank">CSSclasses</a> <i>– Our free workshop series for absolute CSS beginners. RSVP required.</i></dd>
            <dt>Tuesday, Sept 22</dt>
            <dd><a href="http://upfront.ug/" target="_blank">Up.front.ug</a> <i>– Berlin's meetup for the web design community. No RSVP or ticket required.</i></dd>
            <dt>Thursday, Sept 24</dt>
            <dd><a href="http://rejectjs.org/" target="_blank">Reject JS</a> <i>– The local JavaScript community conference. Tickets have to be purchased.</i></dd>
            <dt>Friday, Sept 25 and Sunday, Sept 27</dt>
            <dd><a href="http://2015.jsconf.eu/" target="_blank">JSConf EU</a> <i>– THE European JavaScript conference. Tickets have to be purchased.</i></dd>
          </dl>
          <p>
            While we share the same venue, JSConf EU and Reject JS are separate events from CSSconf EU, and tickets to attend have to be purchased separately. If you are interested in attending one of the (now sold-out) events, let us know and we'll put you in touch with the respective organizers.
            All social events (parties of all events from Thursday to Monday, incl. relax.js) are free for CSSconf EU speakers.
          </p>
        </div>
      </div>
    </section>-->

    <section id="coc">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">

          <h2 class="color--blue">
            Childcare
          </h2>

          <p>
            We’re happy to be able to offer free childcare at the venue for children age 3 and above. For parents with younger infants, we will provide a quiet room equipped with comfy seats, diapers and other essentials where you can retreat to throughout the day. <a href="/childcare">Read more and how to register here</a>.
          </p>

          <h2 class="color--blue">
            Code of Conduct
          </h2>
          <p>
            One last but very important point: We’re an inclusive community event and we want CSSconf EU to be a safe place for everyone to make new friends, share knowledge, learn new stuff, get excited and gain insights reglardless of skin colour, gender, religious views, sexual preference, etc.
          </p>
          <p>
            We want our community to be tolerant and welcoming, and everyone at the conference is required to agree and act according to our <a href="/code-of-conduct/">Code of Conduct</a>. – Should you encounter or observe any form of harrassment, please let us know and we’ll take care of it!
          </p>
        </div>
      </div>
    </section>
  </div>
</main>
