---
layout: subpage
page_id: sponsors
title: "Sponsors"
subtitle:
permalink: /sponsors/
---

<p>
  We are currently offering sponsorship packages and media partnerships for CSSconf EU 2017. Learn more <a href="http://sponsoring.cssconf.eu/">here</a> and check out the great companies who supported us last year:
</p>

<section>
  <div class="container">
    <div class="row row--bottom-margin center-xs">
      {% for sponsor in site.data.sponsors2015 %}
      <div class="col-xs-6 col-sm-4">
        <div class="bg--off-white box--padded box--sponsor-2015">
          <a href="{{ sponsor.url }}">
            {% include helpers/svg id=sponsor.logoId viewBox="0 0 16 10" %}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
