---
layout: subpage
page_id: team
title: "Team"
subtitle: "Meet the people behind CSSconf EU"
permalink: /team/
---

{% include organizers.html %}

<p>This event is made possible by the great work of the many volunteers who spend a lot of their time pouring their blood and sweat into preparing a fantastic day for you.</p>

<h2 class="color--blue">The Organizers</h2>

<ul>
  {% for organizer in site.data.organizers %}
    {% include team-member.html person=organizer %}
  {% endfor %}
</ul>

<h2 class="color--blue">Our big thanks and love go to:</h2>

<ul>
  {% for team_member in site.data.team %}
    {% include team-member.html person=team_member %}
  {% endfor %}
</ul>
