---
layout: subpage
page_id: team
title: "Team"
subtitle: "Meet the people behind CSSconf EU"
permalink: /team/
---

<ul class="c-team-photos">
  <li class="c-team-photos__item">
    <a href="https://twitter.com/kriesse" class="c-team-photos__link" target="_blank" title="Follow Kristina on Twitter">
      <span class="c-team-photos__shapes c-team-photos__shapes--one-first">{% include helpers/svg id="triangle-green" %}</span>
      <figure>
        <img src="/assets/images/kristina.jpg" alt="Kristina Schneider" class="c-team-photos__img" />
        <figcaption class="color--blue c-team-photos__caption">Kristina Schneider</figcaption>
      </figure>
      <span class="c-team-photos__shapes c-team-photos__shapes--one-last">{% include helpers/svg id="circle-orange" %}</span>
    </a>
  </li>
  <li class="c-team-photos__item">
    <a href="https://twitter.com/verpixelt" class="c-team-photos__link" target="_blank" title="Follow Kevin on Twitter">
      <span class="c-team-photos__shapes c-team-photos__shapes--two-first">{% include helpers/svg id="half-donut-blue" %}</span>
      <figure>
        <img src="/assets/images/kevin.jpg" alt="Kevin Lorenz" class="c-team-photos__img" />
        <figcaption class="color--blue c-team-photos__caption">Kevin Lorenz</figcaption>
      </figure>
      <span class="c-team-photos__shapes c-team-photos__shapes--two-last">{% include helpers/svg id="thumb-pink" %}</span>
    </a>
  </li>
  <li class="c-team-photos__item">
    <a href="https://twitter.com/rtrospekt" target="_blank" title="Follow Polly on Twitter" class="c-team-photos__link">
      <span class="c-team-photos__shapes c-team-photos__shapes--three-first">{% include helpers/svg id="circle-orange" %}</span>
      <figure>
        <img src="/assets/images/polly.jpg" alt="Polly Hristova" class="c-team-photos__img" />
        <figcaption class="color--blue c-team-photos__caption">Polly Hristova</figcaption>
      </figure>
      <span class="c-team-photos__shapes c-team-photos__shapes--three-last">{% include helpers/svg id="triangle-yellow" %}</span>
    </a>
  </li>
</ul>

<p>This event is made possible by the great work of the many volunteers who spend a lot of their time pouring their blood and sweat into preparing a fantastic day for you.</p>

<h2 class="color--blue">The Organizers</h2>

<ul>
  {% for organizer in site.data.organizers %}
    {% include team-member.html person=organizer %}
  {% endfor %}
</ul>

<h2 class="color--blue">Our big thanks and love go to:</h2>

<ul>
  {% for team_member in site.data.team %}
    {% include team-member.html person=team_member %}
  {% endfor %}
</ul>
