<p class="tac">
  We are very grateful and would like to say a big Thank You to the companies and individuals who donated to our
  <nobr><a href="/scholarships/">Scholarship Program</a>: ❤️</nobr>
</p>
<p class="tac">
  {% for supporter in site.data.diversity_tickets %}
    {{ supporter.name }}{% if forloop.last %}.{% else %},{% endif %}
  {% endfor %}
</p>
<p class="tac">
  <a class="link--button link--animated" href="{{ site.ticket_sale_url }}">
    Buy a diversity ticket
    <span class="link__icon link__icon--rocket">🚀</span>
  </a>
</p>
