<footer class="footer bg--blue-dark tc">
  <div class="container mini">
    <!-- <a href="/code-of-conduct/" class="link--footer">Code of Conduct</a> -->
    <a href="mailto:contact@cssconf.eu" class="link--footer">contact@cssconf.eu</a>
    <a target="_blank" href="https://twitter.com/cssconfeu" class="link--footer">Twitter</a>
    <a target="_blank" href="https://plus.google.com/+CssconfEu/" class="link--footer">Google+</a>
    <a target="_blank" href="https://www.youtube.com/playlist?list=PL37ZVnwpeshHAnqFlTxhd0MIXWjLBbM3R" class="link--footer">Youtube</a>
  </div>
</footer>
