<div class="top-bar">
  <a class="top-bar__title" href="/">
    <span>CSSconf EU</span> 2017
  </a>
  {% comment %} Hide nav on home page for now {% endcomment %}
  {% unless page.url == "/" or page.url == "" %}
    <div class="top-bar__nav">
      {% for pageId in site.data.main_nav %}
        {% assign linkedPage = site.pages | where: "page_id", pageId | first %}
        <a href="{{ linkedPage.permalink }}" class="top-bar__nav-link">{{ linkedPage.title | capitalize }}</a>
      {% endfor %}
    </div>
  {% endunless %}
  <div class="top-bar__cta">
    <a class="link--button" href="https://confirmsubscription.com/h/d/879A481DB04CB70D">Subscribe to our Newsletter</a>
  </div>
</div>
