@import '2017-assets';

/* speakers-guide tweak */

#page-speakers-guide section:nth-child(even) {
  background-color: var(--color-off-white);
}

/* sticky footer */

.sticky-footer-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sticky-footer-container__content {
  flex: 1 0 auto;
}
