@import '2017-assets';

/* sticky footer */

.sticky-footer-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sticky-footer-container__content {
  flex: 1 0 100%;
  /*border: 3px solid green;*/
}
