---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "vendor/reset";

@mixin font-types() {
  &--thin { font-family: "GT Walsheim Pro Trial Thin", sans-serif; }
  &--thin-oblique { font-family: "GT Walsheim Pro Trial Thin Oblique", sans-serif; }
  &--regular { font-family: "GT Walsheim Pro Trial Regular", sans-serif; }
  &--regular-oblique { font-family: "GT Walsheim Pro Trial Regular Oblique", sans-serif; }
  &--medium { font-family: "GT Walsheim Pro Trial Medium", sans-serif; }
  &--bold { font-family: "GT Walsheim Pro Trial Bold", sans-serif; }
}

.styleguide {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 18rem;
  max-width: 46rem;

  &__header {
    @include font-types();
    font-weight: normal;
    font-size: 2.75rem;
  }

  &__content {
    @include font-types();
    font-size: .875rem;
  }
}
